.DS_Store
._.DS_Store
build/
*.old
tmp.*

# keep it local
dox/
.mulle/etc/project/publisher-info.sh
*.sublime-workspace
mulle-project.graffle
obsolete-mulle-project-init
templates/
tmp/
.gitignore
.mulle-make-build-dir
var/
