{
   project =
   {
      description="🤷🏾‍♀️ Manage project versions and releases";
      domain="github";
      name="mulle-project";
      username="mulle-nat";
      reponame="mulle-project";
      homepage="https://github.com/mulle-nat/mulle-project";
      license="BSD-3-Clause";
      version="4.3.0"
   };
}
